<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Campeonato</title>
</head>
<body>
    <h1>{{ campeonato.nombre }}</h1>
    <h2>Tipo: {{ campeonato.get_tipo_campeonato_display }}</h2>
    <h3>Deporte: {{ campeonato.deporte }}</h3>

    {% if es_liga %}
        <h3>Tabla de Posiciones</h3>
        <table>
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Puntos</th>
                    <th>Partidos Ganados</th>
                    <th>Partidos Empatados</th>
                    <th>Partidos Perdidos</th>
                    <th>Goles Hechos</th>
                    <th>Goles Contra</th>
                    <th>Diferencia de Goles</th>
                </tr>
            </thead>
            <tbody>
                {% for posicion in tabla_posiciones %}
                    <tr>
                        <td>{{ posicion.equipo.nombre }}</td>
                        <td>{{ posicion.puntos }}</td>
                        <td>{{ posicion.partidos_ganados }}</td>
                        <td>{{ posicion.partidos_empatados }}</td>
                        <td>{{ posicion.partidos_perdidos }}</td>
                        <td>{{ posicion.goles_hechos }}</td>
                        <td>{{ posicion.goles_contra }}</td>
                        <td>{{ posicion.goles_diferencia }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>

