{% extends 'campeonato/base.html' %}

{% block title %}Agregar Deportista{% endblock %}

{% block content %}
    <div class="container">
        <h1>Agregar Deportista al Equipo</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Agregar Deportista</button>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
        <a href="{% url 'detalle_equipo_por_campeonato' equipo.id campeonato.id%}" class="button">Volver al Detalle del Equipo</a>
    </div>
{% endblock %}
    